<div class="col-md-8 col-md-offset-2">
	<div class="panel-default">
		<div class="panel-header">

		</div>
		<div class="panel-body">
			<div class="panel-image">
				<%= image_tag @skill.image.url(:medium) %>
			</div>
				<h1> <%= @skill.name %> </h1>
				<p> <%= @skill.description %> </p>	
			</div>
		<div class="box panel panel-default">
			<%= simple_form_for [@user, @skill, Comment.new] do |f| %>
				<%= f.input :body, label: "What do you really think?" %>
				<%= f.submit "Publish!" %>
			<% end %>
		</div>
		<table class="table table-striped">
			<tbody>
				<th>Comments:</th>
				<th>Says:</th>
				<% @skill.comments.each do |comment| %>
				<tr>
					<td>
						 <%= comment.body %> 
					</td>
					<td>
						 <%= "#{comment.user.first_name} #{comment.user.last_name}" %>
					</td>
				</tr>
						
				<% end %>
			</tbody>

		</table>
			<%= link_to "Edit", edit_user_skill_path(@user,@skill) %>
			<%= link_to "Back", root_path %>
	</div>
</div>


