<div class="col-md-8 col-md-offset-2">
	<div class="panel-default">
		<div class="panel-header">

		</div>
		<div class="panel-body">
			<div class="panel-image">
				<%= image_tag @skill.image.url(:medium) %>
			</div>
				<h1> <%= @skill.name %> </h1>
				<p> <%= @skill.description %> </p>	
			</div>
			<%= simple_form_for [@user, @skill, Comment.new] do |f| %>
				<%= f.input :body, label: "What do you really think?"%>
				<%= f.submit "Publish!", class: "btn btn-default" %>
			<% end %>
		<table class="table table-striped">
			<tbody>
				<br>
				<th>Comments:</th>
				<th>Says:</th>
				<% if @skill.comments.empty? %> 
					<tr>
						<td> Nothing to see over here... </td>
					</tr>
				<% end %>
				<% @skill.comments.each do |comment| %>
				<tr>
					<td>
						<%= comment.body %> 
					</td>
					<td>
						 <%= "#{comment.user.first_name} #{comment.user.last_name}" %>
					</td>
				</tr>
						
				<% end %>
			</tbody>

		</table>
			<%= link_to "Edit", edit_user_skill_path(@user,@skill), class: "btn btn-default" %>
			<%= link_to "Back", root_path, class: "btn btn-default" %>
	</div>
</div>


